  $gardenia: "Gardenia",
  sans-serif;
  $roboto :'Roboto Condensed',
  sans-serif;
  $karla: 'Karla',
  sans-serif;
  .inactive-title {
    color: #a3a2b1;
  }
  
  %title {
    color: #585858;
    font-size: 18px;
    font-family: $gardenia;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  
  %sub-title {
    color: #585858;
    font-size: 16px;
    font-family: $gardenia;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  
  %text-muted {
    color: #a3a2b1;
    font-family: $karla;
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .badge-sm {
    display: inline-block;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: capitalize;
    font-family: $karla;
    font-weight: 700;
  }
  
  .badge-md {
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 15px;
    text-transform: capitalize;
    font-family: $karla;
    font-weight: 700;
  }
  
  .badge-primary {
    background-color: #f0f3fe;
    color: #506dc8;
  }
  
  .badge-success {
    background-color: #28c76f1f;
    color: #a3eebd;
  }
  
  .badge-warning {
    background-color: #fdf9ee;
    color: #e6c997 !important;
  }
  
  .badge-danger {
    background-color: #fdf2f2;
    color: #e9acb3 !important;
  }
  
  .badge-muted {
    background-color: #f6f5fa;
    color: #8b88aa;
  }