@import 'mixins.scss';
@import 'varibales.scss';
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f6f5fc;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Gardenia';
  src: url('../fonts/Gardenia-Bold.eot');
  src: local('Gardenia Bold'), local('Gardenia-Bold'), url('../fonts/Gardenia-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gardenia-Bold.woff2') format('woff2'), url('../fonts/Gardenia-Bold.woff') format('woff'), url('../fonts/Gardenia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gardenia';
  src: url('../fonts/Gardenia-ExtraBold.eot');
  src: local('Gardenia ExtraBold'), local('Gardenia-ExtraBold'), url('../fonts/Gardenia-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Gardenia-ExtraBold.woff2') format('woff2'), url('../fonts/Gardenia-ExtraBold.woff') format('woff'), url('../fonts/Gardenia-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gardenia';
  src: url('../fonts/Gardenia-Black.eot');
  src: local('Gardenia Black'), local('Gardenia-Black'), url('../fonts/Gardenia-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Gardenia-Black.woff2') format('woff2'), url('../fonts/Gardenia-Black.woff') format('woff'), url('../fonts/Gardenia-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gardenia Book';
  src: url('../fonts/Gardenia-Book.eot');
  src: local('Gardenia Book'), local('Gardenia-Book'), url('../fonts/Gardenia-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gardenia-Book.woff2') format('woff2'), url('../fonts/Gardenia-Book.woff') format('woff'), url('../fonts/Gardenia-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$gardenia: "Gardenia",
sans-serif;
$roboto :'Roboto Condensed',
sans-serif;
$karla: 'Karla',
sans-serif;
.sidebar {
  .sidebar-container {
    position: relative;
    width: 100%;
    .navigation {
      position: fixed;
      width: 220px;
      height: 100%;
      background-color: #fff;
      border-left: 10px solid #fff;
      transition: 0.5s;
      // overflow: hidden;
      @include for-size(ipad-992) {
        left: -300px;
        transition: 0.5s;
        z-index: 1;
      }
      @include for-size(phone-480) {
        transition: 0.5s;
        width: 100%;
        left: -100%;
        z-index: 1000;
      }
      &.active {
        width: 65px;
        transition: 0.5s;
        overflow: hidden;
        border-left: 5px solid #fff;
        @include for-size(ipad-992) {
          left: 0;
          width: 300px;
          z-index: 1;
          transition: 0.5s;
          overflow-y: scroll;
        }
        @include for-size(phone-480) {
          transition: 0.5s;
          width: 100%;
          left: 0;
        }
      }
      ul {
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        padding-left: 0;
        li {
          position: relative;
          width: 90%;
          list-style: none;
          border-radius: 6px;
          margin-bottom: 15px;
          a {
            &::after {
              content: "";
              position: absolute;
              background-color: #506dc8;
              height: 0%;
              width: 3px;
              right: -22px;
              top: 0;
              border-radius: 0;
              z-index: 999;
              transition: all 500ms ease-in;
            }
          }
          &.hovered {
            background-color: #f0f3fe;
            a {
              color: #506dc8 !important;
              position: relative;
              .icon {
                color: #6e85d9;
              }
              .title {
                color: #222429;
              }
              &::after {
                transition: all 500ms ease-in;
                height: 100%;
              }
            }
          }
          &:nth-child(1) {
            a {
              margin-left: 9px;
              span {
                img {
                  width: 40px;
                  height: 40px;
                }
              }
              &:hover {
                background-color: none;
              }
              &::after {
                display: none;
              }
            }
            &:hover {
              background-color: transparent !important;
            }
            &.hovered {
              background-color: transparent !important;
            }
          }
          a {
            position: relative;
            display: block;
            width: 100%;
            display: flex;
            text-decoration: none;
            color: #222429;
            .icon {
              position: relative;
              display: block;
              min-width: 50px;
              height: 40px;
              line-height: 46px;
              text-align: center;
              color: #a3a2b1;
              ion-icon {
                font-size: 19px
              }
            }
            .title {
              position: relative;
              display: block;
              padding: 0 10px;
              height: 40px;
              line-height: 40px;
              text-align: left;
              white-space: nowrap;
              font-family: $gardenia;
              font-size: 15px;
              text-transform: capitalize;
              color: #a3a2b1;
            }
          }
          &:hover {
            background-color: #f6f5fc;
            a {
              .icon {
                color: #6e85d9;
              }
              .title {
                color: #222429;
              }
            }
          }
        }
      }
      .toggle-mob {
        position: absolute;
        right: 0;
        z-index: 10;
        top: 14px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #e9e9f0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        border-radius: 5px;
        cursor: pointer;
        display: none;
        @include for-size(ipad-992) {
          display: flex;
        }
      }
    }
  }
  .main {
    position: absolute;
    width: calc(100% - 220px);
    left: 220px;
    min-height: 100vh;
    background-color: #f6f5fc;
    transition: 0.5s;
    padding: 10px;
    @include for-size(ipad-992) {
      left: 0;
      width: 100%;
    }
    &.active {
      width: calc(100% - 80px);
      left: 80px;
      @include for-size(ipad-992) {
        left: 0;
        width: 100%;
      }
      @include for-size(phone-480) {
        .toggle {
          position: fixed;
          right: 0;
          left: initial;
          color: #f6f5fc;
        }
      }
    }
    .topbar {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      .toggle-block {
        display: inline-flex;
        align-items: center;
        .toggle {
          position: relative;
          top: 0;
          width: 30px;
          height: 30px;
          background-color: #e9e9f0;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 0;
          border-radius: 5px;
          cursor: pointer;
          ion-icon {
            font-size: 13px;
            color: #bebdcb;
          }
          @include for-size(phone-480) {
            z-index: 0;
          }
        }
        h6 {
          @extend %title;
          margin-left: 12px;
        }
      }
      .search {
        a {
          background-color: #e9e9f0;
          width: 30px;
          height: 30px;
          display: inline-block;
          line-height: 30px;
          text-align: center;
          border-radius: 5px;
          ion-icon {
            font-size: 13px;
            color: #bebdcb;
          }
        }
      }
    }
    &.active {
      width: calc(100% - 66px);
      left: 66px;
      transition: 0.5s;
      @include for-size(ipad-992) {
        left: 0;
        width: 100%;
      }
      .toggle {
        @include for-size(ipad-992) {
          position: fixed;
          right: 0;
          left: initial;
          color: #f6f5fc;
          z-index: -5;
        }
      }
    }
    .box-wrapper {
      .media-wrapper {
        padding: 19px;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include for-size(desk-1280) {
          height: 125px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          padding-left: 15px;
        }
        .custom-flex {
          align-items: center;
          width: 100%;
          @include for-size(desk-1280) {
            width: 100%;
            flex-direction: column-reverse;
            align-items: baseline;
            justify-content: center;
          }
          .custom-grow {
            .media-text {
              @include for-size(desk-1280) {
                margin-top: 5px;
              }
              h6 {
                color: #a3a2b1;
                font-family: $karla;
                text-transform: capitalize;
                font-size: 16px;
                margin-bottom: 0;
                @include for-size(desk-1280) {
                  margin-bottom: -9px;
                }
              }
              span {
                font-family: $karla;
                color: #363738;
                font-size: 24px;
                font-weight: 700;
                ion-icon {
                  color: #8697d2;
                  margin: -3px -4px;
                  font-size: 19px;
                }
              }
            }
          }
          .media-icon {
            background-color: #f0f1fc;
            width: 45px;
            height: 45px;
            display: block;
            text-align: center;
            line-height: 45px;
            border-radius: 10px;
            ion-icon {
              color: #8697d2;
            }
            &.second {
              background-color: #fdf9ee;
              ion-icon {
                color: #e6c997;
              }
            }
            &.third {
              background-color: #f7f5fb;
              ion-icon {
                color: #aca9c3;
              }
            }
            &.fourth {
              background-color: #fdf2f2;
              ion-icon {
                color: #e9acb3;
              }
            }
          }
        }
      }
    }
    .table-wrapper {
      margin: 22px 0;
      .table-responsive {
        border-radius: 10px;
        background-color: #fff;
        .sales {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 14px 19px;
          h6 {
            font-size: 18px;
            font-family: $gardenia;
            text-transform: capitalize;
            margin-bottom: 0;
            margin-left: 0;
          }
          .day-radio {
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 0;
            .label-card {
              cursor: pointer;
              position: relative;
              .label-card-wrapper {
                position: absolute;
                top: 46%;
                left: 50%;
                transform: translate(-50%, -50%);
                h6 {
                  font-size: 14px;
                  margin-bottom: 0;
                  text-transform: capitalize;
                  color: #a3a2b1;
                  font-family: $gardenia;
                  margin-left: 0;
                }
              }
              .radio {
                -webkit-appearance: none;
                cursor: pointer;
                border-radius: 5px;
                color: #a3a2b1;
                padding: 19px 32px;
                border: 2px solid transparent;
                &:checked {
                  border: 2px solid #f5f5f5;
                  ~.label-card-wrapper {
                    h6 {
                      color: #222429;
                    }
                  }
                }
              }
            }
            .date-btn {
              width: 39px;
              height: 39px;
              background-color: #f2f1f7;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              border-radius: 5px;
              margin-left: 15px;
              ion-icon {
                font-size: 18px;
                color: #9c9bab;
              }
            }
          }
        }
        .table {
          vertical-align: middle;
          thead {
            tr {
              background-color: #fbfcfd;
              th {
                p {
                  color: #a3a2b1;
                  font-family: $gardenia;
                  text-transform: capitalize;
                  font-size: 13px;
                  font-weight: 600;
                  margin-bottom: 0;
                }
              }
            }
          }
          tbody {
            font-family: $karla;
            tr {
              td {
                .img-wrapper {
                  .custom-flex {
                    align-items: center;
                    @include for-size(desk-1199) {
                      flex-direction: column;
                      align-items: flex-start;
                    }
                    img {
                      border-radius: 10px;
                      @include for-size(desk-1199) {
                        margin-bottom: 5px;
                      }
                    }
                    .custom-grow {
                      @include for-size(desk-1199) {
                        margin-left: 0 !important;
                      }
                    }
                  }
                }
                .shipped-wrapper {
                  .custom-flex {
                    align-items: center;
                    width: 90%;
                    @include for-size(desk-1199) {
                      flex-direction: column-reverse;
                      align-items: flex-start;
                    }
                    .custom-badge {
                      display: block;
                      border-radius: 5px;
                      font-size: 12px;
                      padding: 5px 14px;
                      text-transform: capitalize;
                      @include for-size(desk-1199) {
                        margin-bottom: 5px;
                      }
                    }
                  }
                }
                h6 {
                  color: #3e3d3f;
                  font-size: 14px;
                  text-transform: capitalize;
                  font-weight: 600;
                  margin-bottom: 0;
                }
                p,
                span {
                  color: #3e3d3f;
                  font-size: 13px;
                  font-weight: 600;
                  margin-bottom: 0;
                }
                .price {
                  color: #3e3d3f;
                  font-size: 15px;
                  font-weight: 800;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        .table-pagination {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 15px;
          margin-bottom: 0;
          .prev-block,
          .next-block {
            button {
              background-color: #f2f2f6;
              border: none;
              color: #8b88aa;
              padding: 5px 11px;
              font-size: 13px;
              align-items: center;
              display: inline-flex;
              border-radius: 5px;
              font-family: $karla;
              text-transform: uppercase;
              font-weight: 600;
            }
          }
          ul {
            margin-bottom: 0;
            padding-left: 0;
            li {
              display: inline-block;
              list-style: none;
              a {
                background-color: #f0f3fe;
                color: #3e3d3f;
                width: 30px;
                height: 30px;
                display: block;
                text-align: center;
                text-decoration: none;
                line-height: 30px;
                font-weight: 600;
                border-radius: 5px;
                font-size: 14px;
                font-family: $karla;
                transition: 0.6s all;
                position: relative;
                &::after {
                  content: '';
                  position: absolute;
                  background-color: #506dc8;
                  height: 0;
                  border-radius: 5px;
                  width: 100%;
                  bottom: -9px;
                  left: 0;
                  transition: all 300ms ease-in;
                }
                &:hover {
                  color: #506dc8;
                  transition: 0.6s all;
                  &::after {
                    transition: all 300ms ease-out;
                    height: 2px;
                  }
                }
              }
            }
          }
        }
        .mob-table-pagination {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 10px 15px;
          margin-bottom: 0;
          .mob-prev-next {
            display: flex;
            margin-bottom: 12px;
            .prev-block,
            .next-block {
              button {
                background-color: #f2f2f6;
                border: none;
                color: #8b88aa;
                padding: 5px 11px;
                font-size: 13px;
                align-items: center;
                display: inline-flex;
                border-radius: 5px;
                font-family: $karla;
                text-transform: uppercase;
                font-weight: 600;
              }
            }
          }
          ul {
            margin-bottom: 0;
            padding-left: 0;
            li {
              display: inline-block;
              list-style: none;
              a {
                background-color: #f0f3fe;
                color: #3e3d3f;
                width: 30px;
                height: 30px;
                display: block;
                text-align: center;
                text-decoration: none;
                line-height: 30px;
                font-weight: 600;
                border-radius: 5px;
                font-size: 14px;
                font-family: $karla;
                transition: 0.6s all;
                position: relative;
                &::after {
                  content: '';
                  position: absolute;
                  background-color: #506dc8;
                  background-color: #506dc8;
                  height: 0;
                  border-radius: 5px;
                  width: 100%;
                  bottom: -16px;
                  left: 0;
                  transition: all 300ms ease-in;
                }
                &:hover {
                  color: #506dc8;
                  transition: 0.6s all;
                  &::after {
                    transition: all 300ms ease-out;
                    height: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.shipped {
  background-color: #f0f3fe;
  color: #506dc8 !important;
}

.processing {
  background-color: #fdf9ee;
  color: #e6c997 !important;
}

.cancel {
  background-color: #fdf2f2;
  color: #e9acb3 !important;
}

.table> :not(caption)>*>* {
  padding: 12px 20px;
}

// .label-card>.radio:checked,
// .label-card+.radio:checked,
// .label-card~.radio:checked {
//   background: linear-gradient(178.87deg, rgba(255, 255, 255, 0.4) 0.97%, rgba(0, 0, 0, 0.024) 89.04%), #FFFFFF;
//   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
//   color: #E05870;
// }
// .label-card>.radio:checked~.label-card-wrapper>h6,
// .label-card+.radio:checked>.label-card-wrapper>h6,
// .label-card~.radio:checked+.label-card-wrapper>h6 {
//   color: #E05870;
// }