
<section class="sidebar">
<div class="main">
    <div class="topbar">

      <div class="toggle-block">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <h6>Dashboard</h6>
      </div>

      <div class="search">
        <a href="javascript:void(0)">
          <ion-icon name="search-outline"></ion-icon>
        </a>
        <a href="javascript:void(0)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </a>
      </div>

    </div>
    <div class="box-wrapper">
      <div class="container-fluid">
        <div class="row g-3">
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="media-wrapper">
              <div class="d-flex custom-flex">
                <div class="flex-grow-1 custom-grow">
                  <div class="media-text">
                    <h6>new sales</h6>
                    <span>1.345 <ion-icon name="arrow-up-outline"></ion-icon></span>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <span class="media-icon">
                    <ion-icon name="pulse-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="media-wrapper">
              <div class="d-flex custom-flex">
                <div class="flex-grow-1 custom-grow">
                  <div class="media-text">
                    <h6>new leads</h6>
                    <span>2.890 <ion-icon name="arrow-up-outline"></ion-icon></span>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <span class="media-icon second">
                    <ion-icon name="pulse-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="media-wrapper">
              <div class="d-flex custom-flex">
                <div class="flex-grow-1 custom-grow">
                  <div class="media-text">
                    <h6>income per lead</h6>
                    <span>$1.870 <ion-icon name="arrow-up-outline"></ion-icon></span>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <span class="media-icon third">
                    <ion-icon name="pulse-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="media-wrapper">
              <div class="d-flex custom-flex">
                <div class="flex-grow-1 custom-grow">
                  <div class="media-text">
                    <h6>conversion rate</h6>
                    <span>5.10% <ion-icon name="arrow-up-outline"></ion-icon></span>
                  </div>
                </div>
                <div class="flex-shrink-0">
                  <span class="media-icon fourth">
                    <ion-icon name="pulse-outline"></ion-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <div class="sales">
                <h6>latest sales</h6>
                <div class="day-radio">
                  <label class="label-card">
                    <input name="plan" class="radio" type="radio">
                    <div class="label-card-wrapper">
                      <h6>Day</h6>
                    </div>
                  </label>
                  <label class="label-card">
                    <input name="plan" class="radio" type="radio">
                    <div class="label-card-wrapper">
                      <h6>week</h6>
                    </div>
                  </label>
                  <label class="label-card">
                    <input name="plan" class="radio" type="radio">
                    <div class="label-card-wrapper">
                      <h6>month</h6>
                    </div>
                  </label>
                  <button class="date-btn"><ion-icon name="calendar-outline"></ion-icon></button>
                </div>
              </div>
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>
                      <p>Product</p>
                    </th>
                    <th>
                      <p>Customer</p>
                    </th>
                    <th>
                      <p>Delivery</p>
                    </th>
                    <th>
                      <p>subtotal</p>
                    </th>
                    <th>
                      <p>shipping</p>
                    </th>
                    <th>
                      <p>total</p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td scope="row">
                      <div class="img-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-shrink-0">
                            <img src="img/table-img.png" alt="img">
                          </div>
                          <div class="flex-grow-1 ms-3 custom-grow">
                            <div class="tab-img-text">
                              <h6>macbook pro</h6>
                              <span>ID 10-3290-08</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6>Rodney Canon</h6>
                      <p>rodney.cannon@gmail.com</p>
                    </td>
                    <td>
                      <div class="shipped-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-grow-1 custom-grow">
                            <div class="media-text">
                              <h6>united kingdom</h6>
                              <span>193 cole plains suite 649, 891203</span>
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <span class="custom-badge shipped">Shipped</span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="price">$100.00</p>
                    </td>
                    <td>
                      <p class="price">$18.00</p>
                    </td>
                    <td>
                      <p class="price">$118.00</p>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">
                      <div class="img-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-shrink-0">
                            <img src="img/table-img.png" alt="img">
                          </div>
                          <div class="flex-grow-1 ms-3 custom-grow">
                            <div class="tab-img-text">
                              <h6>macbook pro</h6>
                              <span>ID 10-3290-08</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6>Rodney Canon</h6>
                      <p>rodney.cannon@gmail.com</p>
                    </td>
                    <td>
                      <div class="shipped-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-grow-1 custom-grow">
                            <div class="media-text">
                              <h6>united kingdom</h6>
                              <span>193 cole plains suite 649, 891203</span>
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <span class="custom-badge processing">processing</span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="price">$100.00</p>
                    </td>
                    <td>
                      <p class="price">$18.00</p>
                    </td>
                    <td>
                      <p class="price">$118.00</p>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">
                      <div class="img-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-shrink-0">
                            <img src="img/table-img.png" alt="img">
                          </div>
                          <div class="flex-grow-1 ms-3 custom-grow">
                            <div class="tab-img-text">
                              <h6>macbook pro</h6>
                              <span>ID 10-3290-08</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6>Rodney Canon</h6>
                      <p>rodney.cannon@gmail.com</p>
                    </td>
                    <td>
                      <div class="shipped-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-grow-1 custom-grow">
                            <div class="media-text">
                              <h6>united kingdom</h6>
                              <span>193 cole plains suite 649, 891203</span>
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <span class="custom-badge processing">processing</span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="price">$100.00</p>
                    </td>
                    <td>
                      <p class="price">$18.00</p>
                    </td>
                    <td>
                      <p class="price">$118.00</p>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">
                      <div class="img-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-shrink-0">
                            <img src="img/table-img.png" alt="img">
                          </div>
                          <div class="flex-grow-1 ms-3 custom-grow">
                            <div class="tab-img-text">
                              <h6>macbook pro</h6>
                              <span>ID 10-3290-08</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6>Rodney Canon</h6>
                      <p>rodney.cannon@gmail.com</p>
                    </td>
                    <td>
                      <div class="shipped-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-grow-1 custom-grow">
                            <div class="media-text">
                              <h6>united kingdom</h6>
                              <span>193 cole plains suite 649, 891203</span>
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <span class="custom-badge shipped">Shipped</span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="price">$100.00</p>
                    </td>
                    <td>
                      <p class="price">$18.00</p>
                    </td>
                    <td>
                      <p class="price">$118.00</p>
                    </td>
                  </tr>
                  <tr>
                    <td scope="row">
                      <div class="img-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-shrink-0">
                            <img src="img/table-img.png" alt="img">
                          </div>
                          <div class="flex-grow-1 ms-3 custom-grow">
                            <div class="tab-img-text">
                              <h6>macbook pro</h6>
                              <span>ID 10-3290-08</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6>Rodney Canon</h6>
                      <p>rodney.cannon@gmail.com</p>
                    </td>
                    <td>
                      <div class="shipped-wrapper">
                        <div class="d-flex custom-flex">
                          <div class="flex-grow-1 custom-grow">
                            <div class="media-text">
                              <h6>united kingdom</h6>
                              <span>193 cole plains suite 649, 891203</span>
                            </div>
                          </div>
                          <div class="flex-shrink-0">
                            <span class="custom-badge cancel">cancelled</span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="price">$100.00</p>
                    </td>
                    <td>
                      <p class="price">$18.00</p>
                    </td>
                    <td>
                      <p class="price">$118.00</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="table-pagination d-none d-sm-flex">
                <div class="prev-block">
                  <button>
                    <ion-icon name="chevron-back-outline" class="me-1"></ion-icon> Prev
                  </button>
                </div>
                <ul>
                  <li><a href="javascript:void(0)">1</a></li>
                  <li><a href="javascript:void(0)">2</a></li>
                  <li><a href="javascript:void(0)">3</a></li>
                  <li><a href="javascript:void(0)">4</a></li>
                  <li><a href="javascript:void(0)">5</a></li>
                </ul>
                <div class="next-block">
                  <button>
                    next <ion-icon name="chevron-forward-outline" class="ms-1"></ion-icon>
                  </button>
                </div>
              </div>
              <div class="mob-table-pagination d-flex d-sm-none">

                <div class="mob-prev-next">
                  <div class="prev-block">
                    <button>
                      <ion-icon name="chevron-back-outline" class="me-1"></ion-icon> Prev
                    </button>
                  </div>
                  <div class="next-block ms-3">
                    <button>
                      next <ion-icon name="chevron-forward-outline" class="ms-1"></ion-icon>
                    </button>
                  </div>
                </div>

                <ul>
                  <li><a href="javascript:void(0)">1</a></li>
                  <li><a href="javascript:void(0)">2</a></li>
                  <li><a href="javascript:void(0)">3</a></li>
                  <li><a href="javascript:void(0)">4</a></li>
                  <li><a href="javascript:void(0)">5</a></li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/metisMenu.min.js"></script>
<script src="js/app.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script>
  let toggle = document.querySelector('.toggle');
  let togglemob = document.querySelector('.toggle-mob');
  let navigation = document.querySelector('.navigation');
  let main = document.querySelector('.main');

  toggle.onclick = function() {
    navigation.classList.toggle('active')
    main.classList.toggle('active')
  }

  togglemob.onclick = function() {
    navigation.classList.toggle('active')
    main.classList.toggle('active')
  }

  let list = document.querySelectorAll('.navigation li');

  function activelink() {
    list.forEach((item) =>
      item.classList.remove('hovered'));
    this.classList.add('hovered');
  }
  list.forEach((item) =>
    item.addEventListener('mouseover', activelink));
</script>

