.inactive-title {
  color: #a3a2b1;
}

.project-page-chart .progress-wrapper .progress-block .progress-text .progress-value span, .project-page-chart .progress-wrapper h5, .project-page-chart .chart-title .chart-title-text h5, .sidebar .main .topbar .toggle-block h6 {
  color: #585858;
  font-size: 18px;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
}

.project-page-chart .chart-block .bottom-block .task span,
.project-page-chart .chart-block .bottom-block .budget span, .project-page-chart .progress-wrapper .progress-block .progress-text h6, .project-wrapper .grid-view .grid-block .bottom-block .task span,
.project-wrapper .grid-view .grid-block .bottom-block .budget span, .project-wrapper .grid-view .grid-block .title-block h5, .project-wrapper .table tbody tr td .task-count span, .project-wrapper .table tbody tr td .list-icon-flex .list-flex-text h5 {
  color: #585858;
  font-size: 16px;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
}

.project-page-chart .chart-block .bottom-block .task p,
.project-page-chart .chart-block .bottom-block .budget p, .project-page-chart .progress-wrapper .progress-block .progress-text p, .project-page-chart .chart-title .chart-title-text p, .project-wrapper .grid-view .grid-block .bottom-block .task p,
.project-wrapper .grid-view .grid-block .bottom-block .budget p, .project-wrapper .grid-view .grid-block .title-block p, .project-wrapper .table tbody tr td .task-count p, .project-wrapper .table tbody tr td .list-icon-flex .list-flex-text p {
  color: #a3a2b1;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 0;
}

.badge-sm {
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.badge-md {
  display: inline-block;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px 15px;
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.badge-primary {
  background-color: #f0f3fe;
  color: #506dc8;
}

.badge-success {
  background-color: #28c76f1f;
  color: #a3eebd;
}

.badge-warning {
  background-color: #fdf9ee;
  color: #e6c997 !important;
}

.badge-danger {
  background-color: #fdf2f2;
  color: #e9acb3 !important;
}

.badge-muted {
  background-color: #f6f5fa;
  color: #8b88aa;
}

.inactive-title {
  color: #a3a2b1;
}

.project-page-chart .progress-wrapper .progress-block .progress-text .progress-value span, .project-page-chart .progress-wrapper h5, .project-page-chart .chart-title .chart-title-text h5, .sidebar .main .topbar .toggle-block h6 {
  color: #585858;
  font-size: 18px;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
}

.project-page-chart .chart-block .bottom-block .task span,
.project-page-chart .chart-block .bottom-block .budget span, .project-page-chart .progress-wrapper .progress-block .progress-text h6, .project-wrapper .grid-view .grid-block .bottom-block .task span,
.project-wrapper .grid-view .grid-block .bottom-block .budget span, .project-wrapper .grid-view .grid-block .title-block h5, .project-wrapper .table tbody tr td .task-count span, .project-wrapper .table tbody tr td .list-icon-flex .list-flex-text h5 {
  color: #585858;
  font-size: 16px;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
}

.project-page-chart .chart-block .bottom-block .task p,
.project-page-chart .chart-block .bottom-block .budget p, .project-page-chart .progress-wrapper .progress-block .progress-text p, .project-page-chart .chart-title .chart-title-text p, .project-wrapper .grid-view .grid-block .bottom-block .task p,
.project-wrapper .grid-view .grid-block .bottom-block .budget p, .project-wrapper .grid-view .grid-block .title-block p, .project-wrapper .table tbody tr td .task-count p, .project-wrapper .table tbody tr td .list-icon-flex .list-flex-text p {
  color: #a3a2b1;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 0;
}

.badge-sm {
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.badge-md {
  display: inline-block;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px 15px;
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.badge-primary {
  background-color: #f0f3fe;
  color: #506dc8;
}

.badge-success {
  background-color: #28c76f1f;
  color: #a3eebd;
}

.badge-warning {
  background-color: #fdf9ee;
  color: #e6c997 !important;
}

.badge-danger {
  background-color: #fdf2f2;
  color: #e9acb3 !important;
}

.badge-muted {
  background-color: #f6f5fa;
  color: #8b88aa;
}

.add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-icons .btn-send {
  background-color: #6681ec;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 21px;
  border: none;
}

.project-wrapper .project-header .button-block button {
  background-color: #6681ec;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 15px;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gardenia";
  src: url("../fonts/Gardenia-Bold.eot");
  src: local("Gardenia Bold"), local("Gardenia-Bold"), url("../fonts/Gardenia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gardenia-Bold.woff2") format("woff2"), url("../fonts/Gardenia-Bold.woff") format("woff"), url("../fonts/Gardenia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gardenia";
  src: url("../fonts/Gardenia-ExtraBold.eot");
  src: local("Gardenia ExtraBold"), local("Gardenia-ExtraBold"), url("../fonts/Gardenia-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gardenia-ExtraBold.woff2") format("woff2"), url("../fonts/Gardenia-ExtraBold.woff") format("woff"), url("../fonts/Gardenia-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gardenia";
  src: url("../fonts/Gardenia-Black.eot");
  src: local("Gardenia Black"), local("Gardenia-Black"), url("../fonts/Gardenia-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gardenia-Black.woff2") format("woff2"), url("../fonts/Gardenia-Black.woff") format("woff"), url("../fonts/Gardenia-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gardenia Book";
  src: url("../fonts/Gardenia-Book.eot");
  src: local("Gardenia Book"), local("Gardenia-Book"), url("../fonts/Gardenia-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gardenia-Book.woff2") format("woff2"), url("../fonts/Gardenia-Book.woff") format("woff"), url("../fonts/Gardenia-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.sidebar .sidebar-container {
  position: relative;
  width: 100%;
}
.sidebar .sidebar-container .navigation {
  position: fixed;
  width: 220px;
  height: 100%;
  background-color: #fff;
  border-left: 10px solid #fff;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .sidebar .sidebar-container .navigation {
    left: -300px;
    transition: 0.5s;
    z-index: 1;
  }
}
@media (max-width: 480px) {
  .sidebar .sidebar-container .navigation {
    transition: 0.5s;
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
}
.sidebar .sidebar-container .navigation.active {
  width: 65px;
  transition: 0.5s;
  overflow: hidden;
  border-left: 5px solid #fff;
}
@media (max-width: 992px) {
  .sidebar .sidebar-container .navigation.active {
    left: 0;
    width: 300px;
    z-index: 1;
    transition: 0.5s;
    overflow-y: scroll;
  }
}
@media (max-width: 480px) {
  .sidebar .sidebar-container .navigation.active {
    transition: 0.5s;
    width: 100%;
    left: 0;
  }
}
.sidebar .sidebar-container .navigation ul {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  padding-left: 0;
}
.sidebar .sidebar-container .navigation ul li {
  position: relative;
  width: 90%;
  list-style: none;
  border-radius: 6px;
  margin-bottom: 15px;
}
.sidebar .sidebar-container .navigation ul li a::after {
  content: "";
  position: absolute;
  background-color: #506dc8;
  height: 0%;
  width: 3px;
  right: -22px;
  top: 0;
  border-radius: 0;
  z-index: 999;
  transition: all 500ms ease-in;
}
.sidebar .sidebar-container .navigation ul li.hovered {
  background-color: #f0f3fe;
}
.sidebar .sidebar-container .navigation ul li.hovered a {
  color: #506dc8 !important;
  position: relative;
}
.sidebar .sidebar-container .navigation ul li.hovered a .icon {
  color: #6e85d9;
}
.sidebar .sidebar-container .navigation ul li.hovered a .title {
  color: #222429;
}
.sidebar .sidebar-container .navigation ul li.hovered a::after {
  transition: all 500ms ease-in;
  height: 100%;
}
.sidebar .sidebar-container .navigation ul li:nth-child(1) a {
  margin-left: 9px;
}
.sidebar .sidebar-container .navigation ul li:nth-child(1) a span img {
  width: 40px;
  height: 40px;
}
.sidebar .sidebar-container .navigation ul li:nth-child(1) a:hover {
  background-color: none;
}
.sidebar .sidebar-container .navigation ul li:nth-child(1) a::after {
  display: none;
}
.sidebar .sidebar-container .navigation ul li:nth-child(1):hover {
  background-color: transparent !important;
}
.sidebar .sidebar-container .navigation ul li:nth-child(1).hovered {
  background-color: transparent !important;
}
.sidebar .sidebar-container .navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #222429;
}
.sidebar .sidebar-container .navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 40px;
  line-height: 46px;
  text-align: center;
  color: #a3a2b1;
}
.sidebar .sidebar-container .navigation ul li a .icon ion-icon {
  font-size: 19px;
}
.sidebar .sidebar-container .navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  font-family: "Gardenia", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  color: #a3a2b1;
}
.sidebar .sidebar-container .navigation ul li:hover {
  background-color: #f6f5fc;
}
.sidebar .sidebar-container .navigation ul li:hover a .icon {
  color: #6e85d9;
}
.sidebar .sidebar-container .navigation ul li:hover a .title {
  color: #222429;
}
.sidebar .sidebar-container .navigation .toggle-mob {
  position: absolute;
  right: 0;
  z-index: 10;
  top: 14px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #e9e9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .sidebar .sidebar-container .navigation .toggle-mob {
    display: flex;
  }
}
.sidebar .main {
  position: absolute;
  width: calc(100% - 540px);
  left: 540px;
  min-height: 100vh;
  background-color: #f6f5fc;
  transition: 0.5s;
  padding: 10px;
}
@media (max-width: 992px) {
  .sidebar .main {
    left: 0;
    width: 100%;
  }
}
.sidebar .main.active {
  width: calc(100% - 80px);
  left: 80px;
}
@media (max-width: 992px) {
  .sidebar .main.active {
    left: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .sidebar .main.active .toggle {
    position: fixed;
    right: 0;
    left: initial;
    color: #f6f5fc;
  }
}
.sidebar .main .topbar {
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.sidebar .main .topbar .toggle-block {
  display: inline-flex;
  align-items: center;
}
.sidebar .main .topbar .toggle-block .toggle {
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #e9e9f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar .main .topbar .toggle-block .toggle ion-icon {
  font-size: 13px;
  color: #bebdcb;
}
@media (max-width: 480px) {
  .sidebar .main .topbar .toggle-block .toggle {
    z-index: 0;
  }
}
.sidebar .main .topbar .toggle-block h6 {
  margin-left: 12px;
}
.sidebar .main .topbar .search a {
  background-color: #e9e9f0;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
}
.sidebar .main .topbar .search a ion-icon {
  font-size: 13px;
  color: #bebdcb;
}
.sidebar .main.active {
  width: calc(100% - 386px);
  left: 386px;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .sidebar .main.active {
    left: 0;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .sidebar .main.active .toggle {
    position: fixed;
    right: 0;
    left: initial;
    color: #f6f5fc;
    z-index: -5;
  }
}
.sidebar .main .box-wrapper .media-wrapper {
  padding: 19px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .sidebar .main .box-wrapper .media-wrapper {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 15px;
  }
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex {
  align-items: center;
  width: 100%;
}
@media (max-width: 1280px) {
  .sidebar .main .box-wrapper .media-wrapper .custom-flex {
    width: 100%;
    flex-direction: column-reverse;
    align-items: baseline;
    justify-content: center;
  }
}
@media (max-width: 1280px) {
  .sidebar .main .box-wrapper .media-wrapper .custom-flex .custom-grow .media-text {
    margin-top: 5px;
  }
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .custom-grow .media-text h6 {
  color: #a3a2b1;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 0;
}
@media (max-width: 1280px) {
  .sidebar .main .box-wrapper .media-wrapper .custom-flex .custom-grow .media-text h6 {
    margin-bottom: -9px;
  }
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .custom-grow .media-text span {
  font-family: "Karla", sans-serif;
  color: #363738;
  font-size: 24px;
  font-weight: 700;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .custom-grow .media-text span ion-icon {
  color: #8697d2;
  margin: -3px -4px;
  font-size: 19px;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .media-icon {
  background-color: #f0f1fc;
  width: 45px;
  height: 45px;
  display: block;
  text-align: center;
  line-height: 45px;
  border-radius: 10px;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .media-icon ion-icon {
  color: #8697d2;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .media-icon.second {
  background-color: #fdf9ee;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .media-icon.second ion-icon {
  color: #e6c997;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .media-icon.third {
  background-color: #f7f5fb;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .media-icon.third ion-icon {
  color: #aca9c3;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .media-icon.fourth {
  background-color: #fdf2f2;
}
.sidebar .main .box-wrapper .media-wrapper .custom-flex .media-icon.fourth ion-icon {
  color: #e9acb3;
}
.sidebar .main .table-wrapper {
  margin: 22px 0;
}
.sidebar .main .table-wrapper .table-responsive {
  border-radius: 10px;
  background-color: #fff;
}
.sidebar .main .table-wrapper .table-responsive .sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 19px;
}
.sidebar .main .table-wrapper .table-responsive .sales h6 {
  font-size: 18px;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-left: 0;
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio .label-card {
  cursor: pointer;
  position: relative;
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio .label-card .label-card-wrapper {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio .label-card .label-card-wrapper h6 {
  font-size: 14px;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  margin-left: 0;
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio .label-card .radio {
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 5px;
  color: #a3a2b1;
  padding: 19px 32px;
  border: 2px solid transparent;
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio .label-card .radio:checked {
  border: 2px solid #f5f5f5;
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio .label-card .radio:checked ~ .label-card-wrapper h6 {
  color: #222429;
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio .date-btn {
  width: 39px;
  height: 39px;
  background-color: #f2f1f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
}
.sidebar .main .table-wrapper .table-responsive .sales .day-radio .date-btn ion-icon {
  font-size: 18px;
  color: #9c9bab;
}
.sidebar .main .table-wrapper .table-responsive .table {
  vertical-align: middle;
}
.sidebar .main .table-wrapper .table-responsive .table thead tr {
  background-color: #fbfcfd;
}
.sidebar .main .table-wrapper .table-responsive .table thead tr th p {
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}
.sidebar .main .table-wrapper .table-responsive .table tbody {
  font-family: "Karla", sans-serif;
}
.sidebar .main .table-wrapper .table-responsive .table tbody tr td .img-wrapper .custom-flex {
  align-items: center;
}
@media (max-width: 1199px) {
  .sidebar .main .table-wrapper .table-responsive .table tbody tr td .img-wrapper .custom-flex {
    flex-direction: column;
    align-items: flex-start;
  }
}
.sidebar .main .table-wrapper .table-responsive .table tbody tr td .img-wrapper .custom-flex img {
  border-radius: 10px;
}
@media (max-width: 1199px) {
  .sidebar .main .table-wrapper .table-responsive .table tbody tr td .img-wrapper .custom-flex img {
    margin-bottom: 5px;
  }
}
@media (max-width: 1199px) {
  .sidebar .main .table-wrapper .table-responsive .table tbody tr td .img-wrapper .custom-flex .custom-grow {
    margin-left: 0 !important;
  }
}
.sidebar .main .table-wrapper .table-responsive .table tbody tr td .shipped-wrapper .custom-flex {
  align-items: center;
  width: 90%;
}
@media (max-width: 1199px) {
  .sidebar .main .table-wrapper .table-responsive .table tbody tr td .shipped-wrapper .custom-flex {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.sidebar .main .table-wrapper .table-responsive .table tbody tr td .shipped-wrapper .custom-flex .custom-badge {
  display: block;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 14px;
  text-transform: capitalize;
}
@media (max-width: 1199px) {
  .sidebar .main .table-wrapper .table-responsive .table tbody tr td .shipped-wrapper .custom-flex .custom-badge {
    margin-bottom: 5px;
  }
}
.sidebar .main .table-wrapper .table-responsive .table tbody tr td h6 {
  color: #3e3d3f;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0;
}
.sidebar .main .table-wrapper .table-responsive .table tbody tr td p,
.sidebar .main .table-wrapper .table-responsive .table tbody tr td span {
  color: #3e3d3f;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}
.sidebar .main .table-wrapper .table-responsive .table tbody tr td .price {
  color: #3e3d3f;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 0;
}
.sidebar .main .table-wrapper .table-responsive .table-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 0;
}
.sidebar .main .table-wrapper .table-responsive .table-pagination .prev-block button,
.sidebar .main .table-wrapper .table-responsive .table-pagination .next-block button {
  background-color: #f2f2f6;
  border: none;
  color: #8b88aa;
  padding: 5px 11px;
  font-size: 13px;
  align-items: center;
  display: inline-flex;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.sidebar .main .table-wrapper .table-responsive .table-pagination ul {
  margin-bottom: 0;
  padding-left: 0;
}
.sidebar .main .table-wrapper .table-responsive .table-pagination ul li {
  display: inline-block;
  list-style: none;
}
.sidebar .main .table-wrapper .table-responsive .table-pagination ul li a {
  background-color: #f0f3fe;
  color: #3e3d3f;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Karla", sans-serif;
  transition: 0.6s all;
  position: relative;
}
.sidebar .main .table-wrapper .table-responsive .table-pagination ul li a::after {
  content: "";
  position: absolute;
  background-color: #506dc8;
  height: 0;
  border-radius: 5px;
  width: 100%;
  bottom: -9px;
  left: 0;
  transition: all 300ms ease-in;
}
.sidebar .main .table-wrapper .table-responsive .table-pagination ul li a:hover {
  color: #506dc8;
  transition: 0.6s all;
}
.sidebar .main .table-wrapper .table-responsive .table-pagination ul li a:hover::after {
  transition: all 300ms ease-out;
  height: 2px;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-bottom: 0;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination .mob-prev-next {
  display: flex;
  margin-bottom: 12px;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination .mob-prev-next .prev-block button,
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination .mob-prev-next .next-block button {
  background-color: #f2f2f6;
  border: none;
  color: #8b88aa;
  padding: 5px 11px;
  font-size: 13px;
  align-items: center;
  display: inline-flex;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination ul {
  margin-bottom: 0;
  padding-left: 0;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination ul li {
  display: inline-block;
  list-style: none;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination ul li a {
  background-color: #f0f3fe;
  color: #3e3d3f;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Karla", sans-serif;
  transition: 0.6s all;
  position: relative;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination ul li a::after {
  content: "";
  position: absolute;
  background-color: #506dc8;
  background-color: #506dc8;
  height: 0;
  border-radius: 5px;
  width: 100%;
  bottom: -16px;
  left: 0;
  transition: all 300ms ease-in;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination ul li a:hover {
  color: #506dc8;
  transition: 0.6s all;
}
.sidebar .main .table-wrapper .table-responsive .mob-table-pagination ul li a:hover::after {
  transition: all 300ms ease-out;
  height: 2px;
}

.add-project-modal .modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .add-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 25px 25px 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .add-project h6 {
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .add-project span {
  width: 30px;
  height: 30px;
  border: 2px solid #f2f1f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-left: 15px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .add-project span ion-icon {
  font-size: 14px;
  color: #9c9bab;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .name-flex {
  margin-bottom: 30px;
  padding: 0 25px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .name-flex .name-flex-icon a span {
  width: 39px;
  height: 39px;
  border: 2px solid #f2f1f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .name-flex .name-flex-icon a span ion-icon {
  font-size: 14px;
  color: #9c9bab;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .name-flex .name-flex-text h5 {
  font-size: 16px;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-left: 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .name-flex .name-flex-text p {
  color: #a3a2b1;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  padding: 0 25px;
}
@media (max-width: 576px) {
  .add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .assign h6 {
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .assign ul {
  padding-left: 0;
  margin-top: 13px;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .assign ul li a img {
  border-radius: 5px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .assign ul li a span {
  width: 30px;
  height: 30px;
  border: 1px solid #f2f1f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .assign ul li a span ion-icon {
  font-size: 14px;
  color: #9c9bab;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .date h6 {
  margin-bottom: 13px;
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .date .date-wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .date .date-wrapper .date-icon {
  border: 1px solid #a3a2b1;
  border-radius: 5px;
  padding: 2px 10px;
  display: inline-flex;
  align-items: center;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .date .date-wrapper .date-icon span {
  line-height: 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .date .date-wrapper .date-icon span ion-icon {
  font-size: 14px;
  color: #a3a2b1;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .date .date-wrapper .date-icon h6 {
  color: #a3a2b1;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 10px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .assign-date-block .date .date-btn {
  display: block;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 14px;
  text-transform: capitalize;
  background-color: #f0f3fe;
  color: #506dc8 !important;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin-left: 10px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .description-block {
  border-top: 1px solid #f2f1f7;
  border-bottom: 1px solid #f2f1f7;
  margin: 0 25px;
  padding: 20px 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .description-block h5 {
  font-size: 18px;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-left: 0;
  color: #222429;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .description-block p {
  font-size: 14px;
  font-family: "Karla", sans-serif;
  margin-bottom: 0;
  margin-left: 0;
  color: #222429;
  font-weight: 500;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .file-upload {
  padding: 0 25px;
  margin-top: 25px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .file-upload h5 {
  font-size: 18px;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-left: 0;
  color: #222429;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .file-upload .dropzone {
  min-height: 60px;
  border: none;
  background: #fff;
  padding: 0;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .file-upload .dropzone .dz-message {
  margin: 10px 0;
  align-items: center;
  display: flex;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .file-upload .dropzone .dz-message ion-icon {
  color: #f2f1f7;
  font-size: 24px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .file-upload .dropzone .dz-message h4 {
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 7px;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .comment {
  margin-top: 25px;
  background-color: #f6f5fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
@media (max-width: 480px) {
  .add-project-modal .modal .modal-dialog .modal-content .modal-body .comment {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-form {
  border: none;
  font-family: "Karla", sans-serif;
  background-color: transparent;
  width: 60%;
  box-shadow: none;
  font-size: 14px;
  color: #222429;
}
@media (max-width: 480px) {
  .add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-form {
    padding: 15px 0;
  }
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-form:hover, .add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-form:focus {
  box-shadow: none;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-icons {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 30%;
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-icons a {
  text-decoration: none;
}
@media (max-width: 480px) {
  .add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-icons a {
    margin-right: 8px;
  }
}
.add-project-modal .modal .modal-dialog .modal-content .modal-body .comment .comment-icons a span ion-icon {
  font-size: 18px;
  color: #9c9bab;
}
.project-wrapper {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 10px;
  margin: 12px 11px 0;
}
.project-wrapper .project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-wrapper .project-header .button-block button {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 425px) {
  .project-wrapper .project-header .button-block button {
    padding: 8px 10px;
  }
}
.project-wrapper .project-header .button-block button ion-icon {
  margin-right: 5px;
}
.project-wrapper .project-header .filter-drop {
  display: inline-flex;
  align-items: center;
}
.project-wrapper .project-header .filter-drop label {
  color: #a3a2b1;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 7px;
  display: inline-flex;
  align-items: center;
}
.project-wrapper .project-header .filter-drop label ion-icon {
  color: #a3a2b1;
  font-size: 13px;
  margin-right: 5px;
}
.project-wrapper .project-header .filter-drop .nice-select {
  border: none;
  height: 30px;
  line-height: 30px;
  color: #222429;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  padding-left: 5px;
}
.project-wrapper .project-header .filter-drop .nice-select.list {
  left: -14px;
}
.project-wrapper .project-header .filter-drop .nice-select::after {
  top: 49%;
  width: 8px;
  height: 8px;
}
.project-wrapper .table {
  margin-top: 10px;
  border-collapse: separate;
  border-spacing: 0 8px;
  vertical-align: middle;
}
.project-wrapper .table thead {
  background-color: #fbfbfb;
}
.project-wrapper .table thead tr th div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-wrapper .table thead tr th div h6 {
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}
.project-wrapper .table thead tr th div a {
  text-decoration: none;
}
.project-wrapper .table thead tr th div a span i {
  color: #a3a2b1;
}
.project-wrapper .table tbody {
  background-color: #fff;
}
.project-wrapper .table tbody tr {
  border-top: 1px solid #ebe9f1;
}
.project-wrapper .table tbody tr td {
  border-top: 1px solid #f1f1f2;
  border-bottom: 1px solid #f1f1f2;
}
.project-wrapper .table tbody tr td:first-child {
  border-left: 1px solid #f1f1f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.project-wrapper .table tbody tr td:last-child {
  border-right: 1px solid #f1f1f2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.project-wrapper .table tbody tr td .members-list {
  flex-basis: 20%;
}
.project-wrapper .table tbody tr td .members-list ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.project-wrapper .table tbody tr td .members-list ul li a {
  text-decoration: none;
}
.project-wrapper .table tbody tr td .members-list ul li a img {
  border-radius: 5px;
}
.project-wrapper .table tbody tr td .members-list ul li a span {
  width: 30px;
  height: 30px;
  background-color: #f2f1f7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 12px;
  color: #9c9bab;
  font-family: "Karla", sans-serif;
}
.project-wrapper .table tbody tr td .members-list ul li a span ion-icon {
  font-size: 14px;
  color: #9c9bab;
}
.project-wrapper .table tbody tr td .date-badges {
  flex-basis: 22%;
}
@media (max-width: 768px) {
  .project-wrapper .table tbody tr td .date-badges .badge-sm:nth-child(2) {
    margin-top: 10px;
  }
}
.project-wrapper .table tbody tr td .list-icon-flex {
  flex-basis: 35%;
}
.project-wrapper .table tbody tr td .list-icon-flex .list-flex-icon a span {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f2f2f6;
  display: block;
  text-align: center;
  line-height: 40px;
}
.project-wrapper .table tbody tr td .list-icon-flex .list-flex-icon a span ion-icon {
  color: #ea4c89;
  font-size: 14px;
}
.project-wrapper .table tbody tr td .task-count {
  flex-basis: 12%;
}
.project-wrapper .table tbody tr td .task-count span {
  margin-left: 0;
  font-weight: 300;
}
.project-wrapper .table tbody tr td .task-count span strong {
  font-weight: 800;
}
.project-wrapper .table tbody tr td .form-switch .form-check-input {
  width: 40px;
  height: 20px;
  border-color: #b1bcc9;
  background-color: #f2f2f2;
  transition: 0.5s;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}
.project-wrapper .table tbody tr td .form-switch .form-check-input:checked {
  background-color: #a4eebd;
  border-color: #a4eebd;
  transition: 0.5s;
}
.project-wrapper .table tbody tr td .form-switch .form-check-input:focus {
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}
.project-wrapper .table tbody::before {
  content: "-";
  display: block;
  line-height: 9px;
  visibility: hidden;
}
.project-wrapper .grid-view-header {
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 15px;
  padding: 12px 20px;
  border-radius: 5px;
}
@media (max-width: 576px) {
  .project-wrapper .grid-view-header {
    flex-wrap: wrap;
  }
}
.project-wrapper .grid-view-header .project-sort,
.project-wrapper .grid-view-header .members-sort,
.project-wrapper .grid-view-header .task-sort,
.project-wrapper .grid-view-header .due-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}
@media (max-width: 576px) {
  .project-wrapper .grid-view-header .project-sort,
.project-wrapper .grid-view-header .members-sort,
.project-wrapper .grid-view-header .task-sort,
.project-wrapper .grid-view-header .due-sort {
    flex-basis: 45%;
  }
}
.project-wrapper .grid-view-header .project-sort h6,
.project-wrapper .grid-view-header .members-sort h6,
.project-wrapper .grid-view-header .task-sort h6,
.project-wrapper .grid-view-header .due-sort h6 {
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}
.project-wrapper .grid-view-header .project-sort a,
.project-wrapper .grid-view-header .members-sort a,
.project-wrapper .grid-view-header .task-sort a,
.project-wrapper .grid-view-header .due-sort a {
  text-decoration: none;
}
.project-wrapper .grid-view-header .project-sort a span i,
.project-wrapper .grid-view-header .members-sort a span i,
.project-wrapper .grid-view-header .task-sort a span i,
.project-wrapper .grid-view-header .due-sort a span i {
  color: #a3a2b1;
}
.project-wrapper .grid-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 13px;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .project-wrapper .grid-view {
    gap: 15px 0;
    flex-wrap: wrap;
  }
}
.project-wrapper .grid-view .grid-block {
  border: 1px solid #f8f8f8;
  flex: 0 1 25%;
  padding: 20px 0 0;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
@media (max-width: 768px) {
  .project-wrapper .grid-view .grid-block {
    flex: 0 1 49%;
  }
}
@media (max-width: 425px) {
  .project-wrapper .grid-view .grid-block {
    flex: 0 1 100%;
  }
}
.project-wrapper .grid-view .grid-block .title-block span {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f2f2f6;
  display: block;
  text-align: center;
  line-height: 40px;
  margin: 0 auto 15px;
}
.project-wrapper .grid-view .grid-block .title-block span ion-icon {
  color: #ea4c89;
  font-size: 14px;
}
.project-wrapper .grid-view .grid-block .due-block {
  margin: 23px 0;
}
.project-wrapper .grid-view .grid-block .due-block span {
  background-color: #f6f5fa;
  color: #8b88aa;
  display: inline-block;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-family: "Karla", sans-serif;
  font-weight: 700;
}
.project-wrapper .grid-view .grid-block .bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f8f8f8;
}
.project-wrapper .grid-view .grid-block .bottom-block .task {
  border-right: 1px solid #f8f8f8;
}
.project-wrapper .grid-view .grid-block .bottom-block .task,
.project-wrapper .grid-view .grid-block .bottom-block .budget {
  flex: 1;
  padding: 10px 0;
}
.project-wrapper .grid-view .grid-block .bottom-block .task span,
.project-wrapper .grid-view .grid-block .bottom-block .budget span {
  margin-left: 0;
  font-weight: 300;
}
.project-wrapper .grid-view .grid-block .bottom-block .task span strong,
.project-wrapper .grid-view .grid-block .bottom-block .budget span strong {
  font-weight: 800;
}
.project-wrapper .grid-view .grid-block .drop-down {
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 17px;
}
@media (max-width: 768px) {
  .project-wrapper .grid-view .grid-block .drop-down {
    top: 10px;
    right: 10px;
  }
}
.project-wrapper .grid-view .grid-block .drop-down a {
  text-decoration: none;
}
.project-wrapper .grid-view .grid-block .drop-down a span {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #f2f2f6;
  display: block;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 768px) {
  .project-wrapper .grid-view .grid-block .drop-down a span {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}
.project-wrapper .grid-view .grid-block .drop-down a span ion-icon {
  color: #8b88aa;
  font-size: 14px;
}
@media (max-width: 768px) {
  .project-wrapper .grid-view .grid-block .drop-down a span ion-icon {
    font-size: 12px;
  }
}
.project-wrapper .listview-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 20px 0;
}
.project-wrapper .listview-pagination .prev-block span {
  margin-left: 8px;
}
.project-wrapper .listview-pagination .next-block span {
  margin-right: 8px;
}
.project-wrapper .listview-pagination .prev-block,
.project-wrapper .listview-pagination .next-block {
  display: inline-flex;
  align-items: center;
}
.project-wrapper .listview-pagination .prev-block button,
.project-wrapper .listview-pagination .next-block button {
  background-color: #f2f2f6;
  border: none;
  color: #8b88aa;
  font-size: 13px;
  align-items: center;
  display: inline-flex;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  justify-content: center;
}
.project-wrapper .listview-pagination .prev-block span,
.project-wrapper .listview-pagination .next-block span {
  color: #8b88aa;
  font-size: 13px;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}
.project-wrapper .listview-pagination ul {
  margin-bottom: 0;
  padding-left: 0;
}
.project-wrapper .listview-pagination ul li {
  display: inline-block;
  list-style: none;
}
.project-wrapper .listview-pagination ul li a {
  color: #3e3d3f;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Karla", sans-serif;
  transition: 0.6s all;
  position: relative;
}
.project-wrapper .listview-pagination ul li a.active {
  background-color: #677ff1;
  color: #fff;
  transition: 0.6s all;
}
.project-wrapper .listview-pagination ul li a:hover {
  background-color: #677ff1;
  color: #fff;
  transition: 0.6s all;
}
.project-wrapper .listview-pagination ul li a:hover::after {
  transition: all 300ms ease-out;
  height: 2px;
}
.project-wrapper .mob-listview-pagination {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin-bottom: 0;
}
.project-wrapper .mob-listview-pagination .mob-prev-next {
  display: flex;
  margin-bottom: 12px;
}
.project-wrapper .mob-listview-pagination .mob-prev-next .prev-block button,
.project-wrapper .mob-listview-pagination .mob-prev-next .next-block button {
  background-color: #f2f2f6;
  border: none;
  color: #8b88aa;
  padding: 5px 11px;
  font-size: 13px;
  align-items: center;
  display: inline-flex;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.project-wrapper .mob-listview-pagination ul {
  margin-bottom: 0;
  padding-left: 0;
}
.project-wrapper .mob-listview-pagination ul li {
  display: inline-block;
  list-style: none;
}
.project-wrapper .mob-listview-pagination ul li a {
  background-color: #f0f3fe;
  color: #3e3d3f;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Karla", sans-serif;
  transition: 0.6s all;
  position: relative;
}
.project-wrapper .gridview-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 20px 0 0;
}
@media (max-width: 576px) {
  .project-wrapper .gridview-pagination {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .project-wrapper .gridview-pagination .items-page {
    margin-bottom: 20px;
  }
}
.project-wrapper .gridview-pagination .items-page form {
  background-color: #f6f5fb;
  display: inline-flex;
  flex-flow: row-reverse;
  border-radius: 5px;
  align-items: center;
  padding: 2px 8px;
}
.project-wrapper .gridview-pagination .items-page form label {
  color: #a3a2b1;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  padding-left: 5px;
  font-size: 13px;
  text-transform: uppercase;
}
.project-wrapper .gridview-pagination .items-page form .nice-select {
  border: none;
  height: auto;
  background-color: transparent;
  line-height: 29px;
  padding-left: 7px;
}
.project-wrapper .gridview-pagination .items-page form .nice-select::after {
  top: 49%;
  width: 8px;
  height: 8px;
}
.project-wrapper .gridview-pagination .items-page form .nice-select .current {
  color: #222429;
  font-weight: 600;
  font-family: "Karla", sans-serif;
  padding-left: 5px;
  font-size: 13px;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper {
  display: flex;
  align-items: center;
  flex-basis: 35%;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .project-wrapper .gridview-pagination .grid-pagination-wrapper {
    flex-basis: 50%;
  }
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .prev-block span {
  margin-left: 8px;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .next-block span {
  margin-right: 8px;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .prev-block,
.project-wrapper .gridview-pagination .grid-pagination-wrapper .next-block {
  display: inline-flex;
  align-items: center;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .prev-block button,
.project-wrapper .gridview-pagination .grid-pagination-wrapper .next-block button {
  background-color: #f2f2f6;
  border: none;
  color: #8b88aa;
  font-size: 13px;
  align-items: center;
  display: inline-flex;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  justify-content: center;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .grid-view-ul {
  margin-bottom: 0;
  padding-left: 0;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .grid-view-ul li {
  display: inline-block;
  list-style: none;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .grid-view-ul li a {
  color: #a3a2b1;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-weight: 600;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Karla", sans-serif;
  position: relative;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .grid-view-ul li a.active {
  background-color: transparent;
  color: #222429;
  border: 1px solid #f8f8f8;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .grid-view-ul li a:hover {
  background-color: transparent;
  color: #222429;
  border: 1px solid #f8f8f8;
}
.project-wrapper .gridview-pagination .grid-pagination-wrapper .grid-view-ul li a:hover::after {
  transition: all 300ms ease-out;
}

.project-page-chart {
  width: 320px;
  margin-left: 221px;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.project-page-chart.active {
  margin-left: 0;
  left: 67px;
  transition: 0.5s;
}
.project-page-chart .chart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  border-bottom: 1px solid #f8f8f8;
}
.project-page-chart .chart-title img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.project-page-chart .chart-title .chart-title-text {
  display: inline-flex;
  align-items: center;
}
.project-page-chart .chart-title .chart-dropdown .dropdown .dropdown-btn {
  background-color: #e9e9f0;
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  border: none;
  padding: 0;
}
.project-page-chart .chart-title .chart-dropdown .dropdown .dropdown-btn ion-icon {
  font-size: 14px;
  color: #bebdcb;
}
.project-page-chart .progress-wrapper {
  padding: 20px;
}
.project-page-chart .progress-wrapper h5 {
  margin-bottom: 15px;
}
.project-page-chart .progress-wrapper .progress-block {
  background-color: #fcfcfc;
  border-radius: 10px;
  padding: 20px;
}
.project-page-chart .progress-wrapper .progress-block:not(:last-child) {
  margin-bottom: 5px;
}
.project-page-chart .progress-wrapper .progress-block .progress-text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 5px;
}
.project-page-chart .progress-wrapper .progress-block .progress-text .progress-value span {
  font-size: 17px;
  margin-bottom: 4px;
}
.project-page-chart .progress-wrapper .progress-block .progress {
  height: 4px;
}
.project-page-chart .chart-block {
  background-color: #fcfcfc;
  border-radius: 10px;
  margin: 20px;
}
.project-page-chart .chart-block .progress-block {
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 10px;
  padding: 20px;
}
.project-page-chart .chart-block .progress-block:not(:last-child) {
  margin-bottom: 5px;
}
.project-page-chart .chart-block .progress-block .progress-text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 5px;
}
.project-page-chart .chart-block .progress-block .progress-text h6 {
  font-family: "Gardenia", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 0;
}
.project-page-chart .chart-block .progress-block .progress-text p {
  color: #a3a2b1;
  font-family: "Karla", sans-serif;
  text-transform: capitalize;
  font-size: 13px;
  margin-bottom: 0;
}
.project-page-chart .chart-block .progress-block .progress-text .progress-value span {
  font-family: "Gardenia", sans-serif;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 800;
  margin-bottom: 4px;
}
.project-page-chart .chart-block .progress-block .progress {
  height: 4px;
}
.project-page-chart .chart-block .bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f4f4f6;
}
.project-page-chart .chart-block .bottom-block .task {
  border-right: 1px solid #f4f4f6;
}
.project-page-chart .chart-block .bottom-block .task,
.project-page-chart .chart-block .bottom-block .budget {
  flex: 1;
  padding: 10px 0;
  text-align: center;
}
.project-page-chart .chart-block .bottom-block .task span strong,
.project-page-chart .chart-block .bottom-block .budget span strong {
  font-weight: 800;
}
::placeholder {
  color: #a3a2b1;
  font-family: "Gardenia", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
}

.green-up-arrow {
  font-size: 14px;
  color: #a3eebd;
}

.red-down-arrow {
  font-size: 14px;
  color: #ea8b93;
}

.progress-primary {
  background-color: #7085e1 !important;
}

.progress-success {
  background-color: #a3eebd !important;
}

.progress-warning {
  background-color: #e7c27b !important;
}

.progress-danger {
  background-color: #ea8b93 !important;
}